.first-title{
    color: orange;
    font-weight: 700;
}
.price{
    color: rgba(248, 161, 0, 0.945);
    font-weight: 700;
}
.jacket{
    color: rgb(0, 0, 68);
    font-weight: 700;
}
.nav-logo{
    margin-right: 230px;
    width: 40%;
}
.nav-headline{
    margin-right: 50px;
    font-weight: 700;
    color: black;
}
.first-section{
    background-color: rgba(255, 192, 203, 0.247);
}

.woman-card img{
    width:250px;
    height: 250px;
    margin-left: 80px;
    padding: 20px;
}
.man-card img{
    width:250px;
    height: 250px;
    margin-left: 80px;
    padding: 20px;
}
.logos-with-text img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin: 10px;
}
.logos-with-text{
    width: 400px;
    padding: 7px;
    border-radius: 2em;
    margin-bottom: 10px;
    margin-left: 10px;
}
.icon{
    margin-right: 2px;
}
.target-btn{
    text-decoration: none;
    padding: 10px;
    border-radius: .5em;
    background-color:rgb(110, 161, 8);
    color: white;
    font-weight: 700;
}
.enjoy-header{
    color: rgb(50, 0, 97);
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
}
.winter-header{
    color: rgb(182, 10, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
}
.bonous-section{
    background-color: rgb(189, 176, 160);
    border-radius: 5px;
}